* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: $white-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a {
    color: black;
    &:hover {
        color: $scarlet-red-color;
        padding-bottom: 10px;
        border-bottom: 3px solid $scarlet-red-color;
    }
}