* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: $white-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.link_header {
    color: black;
    &:hover {
        color: $scarlet-red-color;
        padding-bottom: 10px;
        border-bottom: 3px solid $scarlet-red-color;
    }
}

#jumbotron_socialNetwork {
    background-image: url('./assets/img/slider-1-bg.jpg');
    width: 100vw;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    .container {
        height: 50%;
        .title-sm {
            font-size: 50px;
        }
        .title-lg {
            font-size: 90px;
            margin-top: -16px;
        }
        .btn_register {
            margin-top: 30px !important;
            background-color: $scarlet-red-color;
            color: $white-color;
            padding: 15px 40px;
        }
    }
}

.section_card {
    .card_main {
        width: 33.33%;
        img {
            height: 50px;
            width: 50px;
            color: $icon-gray;
        }
        #text_card {
            .title_card {
                font-size: 25px;
                font-weight: bold;
            }
            p a {
                text-decoration: none;
                color: $scarlet-red-color;
                font-family: 'Bitter', serif;
            }
        }
    }
}

#jumbotron_countdown {
    background-image: url('./assets/img/coutdown-bg1.jpg');
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}