* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: $white-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.container-jumbo {
    width: 900px;
    margin: auto;
}

.link_header {
    color: black;
    &:hover {
        color: $scarlet-red-color;
        padding-bottom: 10px;
        border-bottom: 3px solid $scarlet-red-color;
    }
}